rules:
  - id: aws-admin-prod
    when:
      groups: ["cn-admin"]
      env: ["prod"]
    allow:
      provider: "aws"
      accounts: ["123456789012"]
      roles:
        - key: "admin"
          iamRoleName: "xlogin-admin"
  - id: aws-readonly-all
    when:
      groups: ["cn-observer"]
    allow:
      provider: "aws"
      accounts: ["*"]
      roles:
        - key: "readonly"
          iamRoleName: "xlogin-readonly"
  - id: gcp-dev
    when:
      groups: ["cn-dev"]
      env: ["dev"]
    allow:
      provider: "gcp"
      projects: ["my-dev-project"]
      roles:
        - key: "editor"
          role: "editor"
